[submodule "unitree_go2_ros2"]
	path = unitree_go2_ros2
	url = https://github.com/AbdullahGM1/unitree_go2_ros2.git
[submodule "src/gz_ros2_control_humble_garden"]
	path = src/gz_ros2_control_humble_garden
	url = https://github.com/AbdullahGM1/gz_ros2_control_humble_garden.git
